@import "../../node_modules/tachyons/src/tachyons.css";

/* uncomment to debug styles */
/* @import "../../node_modules/tachyons/src/_debug.css"; */

.sticky {
  position: sticky;
}

/* p .link {
  color: inherit;
  background-image: linear-gradient(transparent,transparent 87.5%,rgba(0,119,204,.125) 0);
} */

#first-p::first-letter {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 3.8rem;
  float: left;
  margin-top: 0.80rem;
  margin-right: 0.25rem;
  margin-left: -0.25rem;
  font-weight: 600;
}

/* pre code {
  background-color: var(--light-green);
  display: block;
} */

pre {
  tab-size: 4;
  overflow-x: auto;
}

@media print {
  pre {
    overflow-x:visible;
    white-space:pre-wrap;
  }
}

p {
  font-family: "PT Serif", georgia, times, serif;
}

code {
  font-family: Inconsolata, monospace;
}

.serif {
  font-family: "PT Serif", georgia, times, serif;
}


h1, h2, h3, h4, h5, h6,
.sans-serif {
  font-family: "Source Sans Pro", sans-serif;
}