@import 'tachyons';

/* http://www.developerdrive.com/2017/09/using-postcss-with-images/ */

/* custom properties */

:root {
  --font-mono: 'Fira Mono';
  --font-sans: 'Source Sans Pro';
  --font-serif: 'PT Serif';
}

@custom-selector :--heading h1, h2, h3, h4, h5, h6;

:--heading,
.override-sans-serif {
  font-family: var(--font-sans, sans-serif);
}

body {
  margin: 0;
}

code {
  font-family: var(--font-mono, monospace);
}

pre {
  tab-size: 4;
}

.js-modal {
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
}

.js-modal-content {
  font-family: var(--font-mono);
  width: 720px;
  max-width: 90%;
  margin: 50px auto;
  overflow-y: auto;
}

/* uncss:ignore */
.hide {
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
}

/* uncss:ignore */
.noscroll {
  overflow: hidden;
}

/* uncss:ignore */
.blur {
  filter: blur(3px) grayscale(1);
}

.filter-animate,
.filter-animate:hover,
.filter-animate:focus {
  transition: filter 0.15s ease-in-out;
}

.all-animate,
.all-animate:hover,
.all-animate:focus {
  transition: all 0.15s ease-in-out;
}

.hover-b--gray:hover {
  border-color: var(--gray, gray);
}

input {
  width: 0;
  color: transparent;
}

input:focus {
  width: 100%;
  padding-left: 0.5rem;
  cursor: auto;
  color: gray;
}

.sticky {
  position: sticky;
}

.html code:before {
  content: 'HTML';
}

.css code:before {
  content: 'CSS';
}

.html code:before,
.css code:before {
  float: right;
  color: rgba(0, 0, 0, 0.1);
  text-align: center;
  font-size: 0.75em;
  margin-top: -25px;
  margin-right: -20px;
  font-weight: 700;
}

.override-serif {
  font-family: var(--font-serif, serif);
}

@media print {
  a:after {
    content: ' (' attr(href) ') ';
    text-decoration: none;
    font-weight: lighter;
    font-family: var(--font-mono);
    font-size: x-small;
  }

  pre {
    overflow-x: visible;
    white-space: pre-wrap;
  }

  #authorCard,
  #banner,
  header,
  footer,
  aside,
  form {
    display: none;
  }

  article {
    width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
  }
}
