@import 'tachyons';

:root {
  --font-mono  : 'Fira Mono';
  --font-sans  : 'Source Sans Pro';
  --font-serif : 'PT Serif';
}

.intro {
  font-family : var(--font-mono);
  top         : 50%;
  left        : 50%;
  transform   : translate(-50%, -50%);
  width       : 800px;
  max-width   : 100%;
  height      : 600px;
  max-height  : 90%;
}

.blur {
  filter : blur(4px);
}

header {
  will-change : transform;
  transition  : transform 0.25s ease-in-out;
}

/* uncss:ignore */
.--pinned {
  transform : translateY(0%);
}

/* uncss:ignore */
.--unpinned {
  transform : translateY(-100%);
}

#upgrade {
  transition : .2s ease-in-out;
}

#upgrade:hover {
  border-color : gray;
}

input#input {
  width      : 0;
  transition : all .3s ease-in-out;
  color      : transparent;
}

input#input:focus {
  width        : 100%;
  padding-left : 0.5rem;
  cursor       : auto;
  color        : gray;
}

.sticky {
  position : sticky;
}

.html code:before {
  content : 'HTML';
}

.css code:before {
  content : 'CSS';
}

.html code:before,
.css code:before {
  float        : right;
  color        : rgba(0, 0, 0, .1);
  text-align   : center;
  font-size    : 0.75em;
  margin-top   : -25px;
  margin-right : -20px;
  font-weight  : 700;
}

pre {
  tab-size : 4;
}

/*p {
  font-family : var(--font-serif, serif);
}*/

code {
  font-family : var(--font-mono, monospace);
}

.override-serif {
  font-family : var(--font-serif, serif);
}

h1, h2, h3, h4, h5, h6, .override-sans-serif {
  font-family : var(--font-sans, sans-serif);
}

@media print {
  a:after {
    content         : " (" attr(href) ") ";
    text-decoration : none;
    font-weight     : lighter;
    font-family     : var(--font-mono);
    font-size       : x-small;
  }

  pre {
    overflow-x  : visible;
    white-space : pre-wrap;
  }

  #authorCard,
  #banner,
  header,
  footer,
  aside,
  form {
    display : none;
  }

  article {
    width   : 100% !important;
    padding : 0 !important;
    margin  : 0 !important;
  }
}
