@import "tachyons";

/* http://www.developerdrive.com/2017/09/using-postcss-with-images/ */

:root {
  --font-mono: "Fira Mono";
  --font-sans: "Source Sans Pro";
  --font-serif: "PT Serif";
  --scrollbar-width: calc(100vw - 100%);
}

@custom-selector :--heading h1, h2, h3, h4, h5, h6;

:--heading,
.override-sans-serif {
  font-family: var(--font-sans, sans-serif);
}

body {
  margin: 0;
}

code {
  font-family: var(--font-mono, monospace);
}

pre {
  tab-size: 4;
}

#modal {
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
}

#modal-content {
  font-family: var(--font-mono);
  width: 720px;
  max-width: 90%;
  margin: 50px auto;
  overflow-y: auto;
}

body > section {
  /*transition: opacity 0.4s ease-in-out;*/
}

/* uncss:ignore */
.hide {
  opacity: 0;
  visibility: hidden;
  overflow : hidden;
}

/* uncss:ignore */
.noscroll {
  overflow: hidden;
}

/* uncss:ignore */
.mr-scrollbar-width {
  margin-right: 17px;
}

/* uncss:ignore */
.blur {
  filter: blur(3px) grayscale(1);
}

header {
  transition: transform 0.25s ease-in-out;
}

/* uncss:ignore */
.--pinned {
  transform: translateY(0%);
}

/* uncss:ignore */
.--unpinned {
  transform: translateY(-200%);
}

#upgrade {
  transition: 0.2s ease-in-out;
}

#upgrade:hover {
  border-color: gray;
}

input#input {
  width: 0;
  transition: all 0.3s ease-in-out;
  color: transparent;
}

input#input:focus {
  width: 100%;
  padding-left: 0.5rem;
  cursor: auto;
  color: gray;
}

.sticky {
  position: sticky;
}

.html code:before {
  content: "HTML";
}

.css code:before {
  content: "CSS";
}

.html code:before,
.css code:before {
  float: right;
  color: rgba(0, 0, 0, 0.1);
  text-align: center;
  font-size: 0.75em;
  margin-top: -25px;
  margin-right: -20px;
  font-weight: 700;
}

.override-serif {
  font-family: var(--font-serif, serif);
}



@media print {
  a:after {
    content: " (" attr(href) ") ";
    text-decoration: none;
    font-weight: lighter;
    font-family: var(--font-mono);
    font-size: x-small;
  }

  pre {
    overflow-x: visible;
    white-space: pre-wrap;
  }

  #authorCard,
  #banner,
  header,
  footer,
  aside,
  form {
    display: none;
  }

  article {
    width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
  }
}
