@import "tachyons.css";

/*
@import "../../node_modules/tachyons/src/_debug.css";
*/

#first-p::first-letter {
  font-family: "Source Sans Pro";
  font-size: 4rem;
  float: left;
  margin-top: 0.60rem;
  margin-right: 0.25rem;
  margin-left: -0.25rem;
  font-weight: 600;
}

p {
  font-family: "PT Serif", georgia, times, serif;
}

code {
  font-family: Inconsolata, monospace;
}

.serif {
  font-family: "PT Serif", georgia, times, serif;
}


h1, h2, h3, h4, h5, h6,
.sans-serif {
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont,
  'avenir next', avenir,
  'helvetica neue', helvetica,
  ubuntu,
  roboto, noto,
  'segoe ui', arial,
  sans-serif;
}